#sidebar {
  padding-top: 2.5rem;
}

@media (min-width: 576px) {
  .sidebar-content {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

.sidebar-heading {
  font-size: 1.125rem;
  text-transform: uppercase;
}

.sidebar-heading a {
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.sidebar-heading a:hover {
  border-bottom: dotted 1px #ef5285;
  color: #000;
  text-decoration: none;
}

.sidebar-p {
  color: #999;
  font-size: 0.875;
}

.sidebar-menu {
  list-style-type: none;
  padding-left: 1.25rem;
  margin-bottom: 2.5rem;
}

.sidebar-item {
  margin-bottom: 0.85rem;
}

.sidebar-item.active > a, .sidebar-item.current-menu-item > a {
  color: #ef5285;
  font-weight: bold;
}

.sidebar-item.active:before, .sidebar-item.current-menu-item:before {
  color: #ef5285;
}

.sidebar-item a:hover {
  text-decoration: none;
  color: #ef5285;
}

.sidebar-item .sub-menu {
  list-style: none;
  padding-left: 0.625rem;
  margin: 0.625rem 0;
}

.sidebar-item .sub-menu a {
  color: #999;
}

.sidebar-item .sub-menu a:hover {
  color: #ef5285;
}

.sidebar-item .sub-menu li.active > a,
.sidebar-item .sub-menu li.current-menu-item > a {
  color: #ef5285;
  font-weight: bold;
}

.sidebar-item .sub-menu li.active:before,
.sidebar-item .sub-menu li.current-menu-item:before {
  color: #ef5285;
}

.sidebar-link {
  color: #555;
}

.sidebar-link:before {
  content: '\f105';
  margin: 0 0.85rem 0 -0.9375rem;
  color: #999;
}

.sidebar-link.active {
  color: #ef5285;
  font-weight: bold;
}

.sidebar-link.active::before {
  color: #ef5285;
}

.sidebar-link:hover::before {
  color: #ef5285;
}

.content-column {
  padding-top: 2.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 1.25rem;
}

@media (min-width: 768px) {
  .content-column {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.content-column.white-background {
  background: #fff;
  min-height: 100vh;
}

.grid {
  padding-top: 0.85rem;
  overflow: hidden;
}

.content-column-content p.lead {
  color: #555;
}

.content-column-content p,
.content-column-content li {
  color: #999;
}

.content-column-content ul li {
  list-style-type: none;
}

.content-column-content ul li:before {
  content: '\f105';
  margin: 0 0.85rem 0 -0.9375rem;
  color: #ef5285;
}

.content-column-content h1,
.content-column-content h2,
.content-column-content h3,
.content-column-content h4,
.content-column-content h5,
.content-column-content h6,
.content-column-content p,
.content-column-content form,
.content-column-content ul,
.content-column-content ol {
  margin-bottom: 2rem;
}

.small-navbar {
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 2rem;
}

.small-navbar-heading {
  display: block;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin-bottom: 0 !important;
}

.small-navbar-heading a {
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.small-navbar-heading a:hover {
  border-bottom: dotted 1px #ef5285;
  color: #000;
  text-decoration: none;
}

/*

=========================================================
OFF-CANVAS SIDEBAR BEHAVIOUR
=========================================================

*/
@media (max-width: 767.98px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
    opacity: 1;
  }
  .row-offcanvas-right {
    right: 0;
  }
  .row-offcanvas-left {
    left: 0;
  }
  .row-offcanvas-right .sidebar-offcanvas {
    right: -50%;
    /* 6 columns */
  }
  .row-offcanvas-left .sidebar-offcanvas {
    left: -48%;
    /* 6 columns */
  }
  .row-offcanvas-right.active {
    right: 50%;
    /* 6 columns */
  }
  .row-offcanvas-left.active {
    left: 50%;
    /* 6 columns */
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
    /* 6 columns */
  }
}

/*




/* breadcrumbs */
.breadcrumb {
  text-transform: uppercase;
  text-align: center;
  font-size: 0.875rem;
}

.masonry-item {
  margin-bottom: 2rem;
}

.tile-link {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 30;
}

.box-masonry {
  background: #fff;
  position: relative;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 2rem;
}

.box-masonry h4 {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.box-masonry h4 a {
  color: #000;
  border-bottom: solid 1px transparent;
}

.box-masonry h4 a:hover {
  border-bottom: dotted 1px #ef5285;
  color: #000;
  text-decoration: none;
}

.box-masonry .box-masonry-text {
  padding: 1rem 1.25rem 1rem;
}

.box-masonry .box-masonry-text p {
  color: #999;
  font-size: 0.95rem;
}

.box-masonry .box-masonry-hover-text-header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 1rem 1.25rem 1rem;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #555;
}

.box-masonry .box-masonry-hover-text-header p {
  font-size: 0.875rem;
}

.box-masonry .box-masonry-hover-text-header h4 a {
  color: #555;
}

.box-masonry .box-masonry-hover-center {
  position: absolute;
  width: 100%;
  top: 30%;
  opacity: 0;
  padding-left: 1.25rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
}

.box-masonry .box-masonry-hover-center .see-more-icon {
  color: #555;
  font-size: 3.125rem;
}

.box-masonry:hover {
  margin-top: -5px;
  -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.box-masonry:hover .box-masonry-hover-text-header {
  opacity: 1;
}

.box-masonry:hover .box-masonry-hover-center {
  opacity: 1;
}

.box-masonry:hover .box-masonry-image.with-hover-overlay:before {
  opacity: 0.8;
}

.box-masonry:hover .box-masonry-image.with-hover-icon:after {
  opacity: 0.7;
}

.box-masonry h2:last-child,
.box-masonry p:last-child {
  margin-bottom: 0;
}

.box-masonry .box-masonry-image {
  display: block;
  position: relative;
  min-height: 6.25rem;
  background: #ccc;
}

.box-masonry .box-masonry-image.with-hover-overlay:before {
  display: block;
  position: absolute;
  content: " ";
  background: #fff;
  opacity: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.box-masonry .box-masonry-image.with-hover-icon:after {
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  content: '\f105';
  text-align: center;
  font-size: 3.125rem;
  color: #555;
}

.box-masonry .box-masonry-image:hover {
  text-decoration: none;
}
