.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-image: radial-gradient(225.46% 169.6% at 50% 90%, #ffd27b 0, #df3a93 33.33%, #5c1663 66.67%, rgba(32, 31, 66, 0) 100%);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  top: 10%;
  width: 100%;
  text-align: center;
}

 #image {
  background-image: url("../images/backgrounds/home.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100% auto;
  height: 100vh;
  transition: opacity .25s ease-in-out;
}


.overlay a, .overlay a:visited {
  padding: 8px;
  text-decoration: none;
  font-size: 3.3vh;
  font-weight: 700;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #ffe200;
}

.overlay .closebtn {
  position: absolute;
  top: 0px;
  right: 50px;
  font-size: 60px;
  z-index: 1;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 0px;
  right: 50px;
  }
}