@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700|Roboto+Condensed:400,700");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

*, html {
    scroll-behavior: smooth !important;
}

html, body, section {
  block-size: 100%;
}

html {
  scroll-snap-type: y mandatory;
}

ul, li {list-style-type: none;}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  /* background-color: #111117; */
  /* background-image: radial-gradient(225.46% 169.6% at 50% 90%, #f5eca3 0, #df3a93 33.33%, #5c1663 66.67%, rgba(32, 31, 66, 0) 100%); */
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  overscroll-behavior: none;
}


h1 {
    color: #ffffff!important;
    font-family: "Playfair Display", serif;
    font-size: 10vw;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.1;
    margin: 5px 0;
    text-align: left;
    width: 85%;
}

h2 a {text-decoration: none;}

h3 {
    font-family: "Playfair Display", serif;
    font-size: 3vw;
}

h4 {
    font-family: "Playfair Display", serif;
    font-size: 2vw;
}

h5 {
    font-family: "Playfair Display", serif;
    font-size: 1vw;
}

/* ABOUT */

.about {
    background: linear-gradient(233deg, #237287 23.91%, #246C84 33.21%, #265F7C 42.51%, #274F72 51.8%, #284367 61.1%, #283A5F 70.4%, #28375C 79.7%);
    height: 100vh;
    width: 100%;
    text-align: left;
}

.about h1 {text-align: left;}

.about-text {
  background-color: #111117;
  height: 100vh;
  width: 100%;
  text-align: left;
  align-self: stretch;
  font-size: 1.6vw;
  letter-spacing: -.0125em;
}

/* BLOG */

.blog_hero {
  color: white;
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.blog_hero_content {
  margin: 45vh auto auto 25vw;
  width: 50%;
  text-align: center;
}

.blog_hero_title {
  font-family: "Heebo", sans-serif;
  font-weight: 900;
  margin: 0;
  text-shadow: 0px 0px 8px black;
  font-size: 3em;
  line-height: 1em;
  text-decoration: none!important;
}

.blog_hero_subtitle {
  margin-top: 0.5em;
  text-shadow: 0px 0px 8px black;
  font-size: 1.5em;
}

.blog_hero_action {
  height: 2em;
  border-radius: 2em;
  color: white;
  border: none;
  padding: 0.4em 2em;
  box-shadow: 0px 0px 8px black;
  width: 7em;
  cursor: pointer;
}

@media (max-width: 700px) {
  .blog_hero_content {
    width: 90%;
    margin: 40vh 2em auto 2em;
  }
}

.blog_hero_action:hover {
  animation: callToAction 1500ms ease-in infinite;
}

@keyframes callToAction {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.07);
  }
  50% {
    transform: scale(1.04);
  }
  60% {
    transform: scale(1.07);
  }

  100% {
    transform: scale(1);
  }
}



@media (max-height: 500px) {
  .blog_hero_title {
    font-size: 2em;
  }

  .blog_hero_subtitle {
    font-size: 1em;
  }

  .blog_hero_action {
    height: 1.4em;
    border-radius: 1.4em;
    width: 4.5em;
  }

  .blog_hero_actionText {
    font-size: 0.9em;
  }
}

.blog_hero_image {
  display: inline-block;
  position: absolute;
  z-index: -10;
  height: 100vh;
  width: 100%;
  background-image: url("../images/backgrounds/blog.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.blog_hero_mask {
  position: absolute;
  z-index: -8;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(#180047, #060231 50%);
  mix-blend-mode: multiply;
  opacity: 0.5;
}

.blog_hero_snowfall {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -6;
  opacity: 0.75;
}


.blog {
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    text-align: justify;
}

.blog-title {
    color: white;
    font-family: "Playfair Display", serif;
    font-size: 10vw;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.1;
    margin: 5px 0;
    text-align: left;
    width: 85%;
  }
  @media screen and (min-width: 640px) {
    .blog-title {
      font-size: 8vw;
    }
  }
  
  @-webkit-keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translate3d(-12px, 0, 0);
    }
    to {
      opacity: 0;
      transform: none;
    }
  }
  
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translate3d(-12px, 0, 0);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
  .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  }
  
  .animate {
    -webkit-animation-duration: 0.75s;
            animation-duration: 0.75s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-timing-function: cubic-bezier(0.2, 0.3, 0.25, 0.9);
            animation-timing-function: cubic-bezier(0.2, 0.3, 0.25, 0.9);
  }
  
  .delay {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  
  .delay-400 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  
  .delay-500 {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
  
  .delay-600 {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  
  .delay-700 {
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
  }
  
  .delay-800 {
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
  }


/* SOCIAL MEDIA */

  .social {
    background: linear-gradient(223.17deg, #8c7bc8, #8a77c2 8.61%, #866db2 17.21%, #7e619f 25.82%, #75548b 34.42%, #6d4b7b 43.03%, #694775 51.63%);
    width: 100%;
    height: 100vh;
    text-align: justify;
}

.fa-brands a:link, a:hover, a:visited {
    text-decoration: none;
    color: #fff!important;
}

/* FANART */

.fanart_hero {
  color: white;
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.fanart_hero_content {
  margin: 45vh auto auto 25vw;
  width: 50%;
  text-align: center;
}

.fanart_hero_title {
  font-family: "Heebo", sans-serif;
  font-weight: 900;
  margin: 0;
  text-shadow: 0px 0px 8px black;
  font-size: 3em;
  line-height: 1em;
  text-decoration: none!important;
}

.fanart_hero_subtitle {
  margin-top: 0.5em;
  text-shadow: 0px 0px 8px black;
  font-size: 1.5em;
}

.fanart_hero_action {
  height: 2em;
  border-radius: 2em;
  color: white;
  border: none;
  padding: 0.4em 2em;
  box-shadow: 0px 0px 8px black;
  position: relative;
  width: 7em;
  cursor: pointer;
}

@media (max-width: 700px) {
  .fanart_hero_content {
    width: 90%;
    margin: 40vh 2em auto 2em;
  }
}

.fanart_hero_action:hover {
  animation: callToAction 1500ms ease-in infinite;
}

@keyframes callToAction {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.07);
  }
  50% {
    transform: scale(1.04);
  }
  60% {
    transform: scale(1.07);
  }

  100% {
    transform: scale(1);
  }
}



@media (max-height: 500px) {
  .fanart_hero_title {
    font-size: 2em;
  }

  .fanart_hero_subtitle {
    font-size: 1em;
  }

  .fanart_hero_action {
    height: 1.4em;
    border-radius: 1.4em;
    width: 4.5em;
  }

  .fanart_hero_actionText {
    font-size: 0.9em;
  }
}

.fanart_hero_image {
  display: inline-block;
  position: absolute;
  z-index: -10;
  height: 100vh;
  width: 100%;
  background-image: url("../images/backgrounds/fanart.jpg");
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
}

.fanart_hero_mask {
  position: absolute;
  z-index: -8;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(#180047, #060231 50%);
  mix-blend-mode: multiply;
  opacity: 0.5;
}

.fanart_hero_snowfall {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -6;
  opacity: 0.75;
}


.fanart {
    width: 100%;
    height: 100vh;
    background-image: url("../images/backgrounds/fanart.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}


/* FANFICTION */

.fanfiction_hero {
  color: white;
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.fanfiction_hero_content {
  margin: 45vh auto auto 25vw;
  width: 50%;
  text-align: center;
}

.fanfiction_hero_title {
  font-family: "Heebo", sans-serif;
  font-weight: 900;
  margin: 0;
  text-shadow: 0px 0px 8px black;
  font-size: 3em;
  line-height: 1em;
  text-decoration: none!important;
}

.fanfiction_hero_subtitle {
  margin-top: 0.5em;
  text-shadow: 0px 0px 8px black;
  font-size: 1.5em;
}

.fanfiction_hero_action {
  height: 2em;
  border-radius: 2em;
  color: white;
  border: none;
  padding: 0.4em 2em;
  box-shadow: 0px 0px 8px black;
  position: relative;
  width: 7em;
  cursor: pointer;
}

@media (max-width: 700px) {
  .fanfiction_hero_content {
    width: 90%;
    margin: 40vh 2em auto 2em;
  }
}

.fanfiction_hero_action:hover {
  animation: callToAction 1500ms ease-in infinite;
}

@keyframes callToAction {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.07);
  }
  50% {
    transform: scale(1.04);
  }
  60% {
    transform: scale(1.07);
  }

  100% {
    transform: scale(1);
  }
}



@media (max-height: 500px) {
  .fanfiction_hero_title {
    font-size: 2em;
  }

  .fanfiction_hero_subtitle {
    font-size: 1em;
  }

  .fanfiction_hero_action {
    height: 1.4em;
    border-radius: 1.4em;
    width: 4.5em;
  }

  .fanfiction_hero_actionText {
    font-size: 0.9em;
  }
}

.fanfiction_hero_image {
  display: inline-block;
  position: absolute;
  z-index: -10;
  height: 100vh;
  width: 100%;
  background-image: url("../images/backgrounds/fanfiction.jpg");
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
}

.fanfiction_hero_mask {
  position: absolute;
  z-index: -8;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(#180047, #060231 50%);
  mix-blend-mode: multiply;
  opacity: 0.5;
}

.fanfiction_hero_snowfall {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -6;
  opacity: 0.75;
}


.fanfiction {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    overflow: hidden;
    position: relative;
    margin-top: 5em;
    padding: none;
}


/* PODCAST */

.podcast {
  background: linear-gradient(223.17deg, #515d47, #4e5b45 8.61%, #45563f 17.21%, #3a5039 25.82%, #324936 34.42%, #2e4435 43.03%, #2c4234 51.63%);
  height: 100vh;
  width: 100%;
  text-align: justify;
}

/* PROJECTS */


.projects_hero {
  color: white;
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.projects_hero_content {
  margin: 45vh auto auto 25vw;
  width: 50%;
  text-align: center;
}

.projects_hero_title {
  font-family: "Heebo", sans-serif;
  font-weight: 900;
  margin: 0;
  text-shadow: 0px 0px 8px black;
  font-size: 3em;
  line-height: 1em;
  text-decoration: none!important;
}

.projects_hero_subtitle {
  margin-top: 0.5em;
  text-shadow: 0px 0px 8px black;
  font-size: 1.5em;
}

.projects_hero_action {
  height: 2em;
  border-radius: 2em;
  color: white;
  border: none;
  padding: 0.4em 2em;
  box-shadow: 0px 0px 8px black;
  position: relative;
  width: 7em;
  cursor: pointer;
}

@media (max-width: 700px) {
  .projects_hero_content {
    width: 90%;
    margin: 40vh 2em auto 2em;
  }
}

.projects_hero_action:hover {
  animation: callToAction 1500ms ease-in infinite;
}

@keyframes callToAction {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.07);
  }
  50% {
    transform: scale(1.04);
  }
  60% {
    transform: scale(1.07);
  }

  100% {
    transform: scale(1);
  }
}



@media (max-height: 500px) {
  .projects_hero_title {
    font-size: 2em;
  }

  .projects_hero_subtitle {
    font-size: 1em;
  }

  .projects_hero_action {
    height: 1.4em;
    border-radius: 1.4em;
    width: 4.5em;
  }

  .projects_hero_actionText {
    font-size: 0.9em;
  }
}

.projects_hero_image {
  display: inline-block;
  position: absolute;
  z-index: -10;
  height: 100vh;
  width: 100%;
  background-image: url("../images/backgrounds/projects.jpg");
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
}

.projects_hero_mask {
  position: absolute;
  z-index: -8;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(#180047, #060231 50%);
  mix-blend-mode: multiply;
  opacity: 0.5;
}


/* Quotes */

.quotes {
  height: 100vh;
  background: linear-gradient(223.17deg, #1c1829, #1b1828 8.61%, #191724 17.21%, #161520 25.82%, #14131c 34.42%, #121218 43.03%, #111117 51.63%);
  width: 100%;
  text-align: justify;
}

/* CREDITS */

.credits {
  background-color: #111117;
  color: white;
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}