<section class="error">
    <div class="row">

        <div class="col-xl-12 my-auto p-5">
            <div class="container">
                <h1>404 Error</u></h1><hr />
                <p class="font-italic mb-4">Oops! This doesn't seem right... perhaps you took a wrong turn... sorry you had to see that...</p>
                
                <button type="button" class="btn btn-outline-dark"><a href="/">Let's Return Home</a></button>
            </div>
        </div>
    </div>

    
</section>
