<div class="profile"></div>
<article>
  <header>
    <h1 class="heading-title animate fadeInLeft delay-600 ">
      <div class="headline-1">
        About
      </div>
      <div class="headline-2">
        HMS Harmony
      </div>
    </h1>
    <p class="subheading">
      The ship that never stops sailing...
    </p>
  </header>
  <hr />
  <section>
    <p>
Here at HMS Harmony, we go pretty hard when it comes to shipping the pairing of Harry and Hermione from the very popular Potter franchise, and that's only the beginning. As you will soon discover, our enthusiasm for the rightful pairing of the franchise doesn't end with a stubborn conversation about what's canon and not, it pours out of us through the mediums of fanfiction, fanart, and even fan podcasts.
    </p>
    <img alt="" src="https://assets.codepen.io/406785/aa1.jpg?format=auto" />
    <p>
        Perhaps some of us are guilty of going over the top - maybe just a little bit - but such is the passion of our community. Who doesn't love a little bit of over-the-top enthusiasm when it comes to creating content for the fandom and pairing that your heart belongs too?
    </p>
    <blockquote>You don't take a photograph, you make it.</blockquote>
    <p>
        So, whether you're with us, against us, or just a little curious, dive in with us as we explore some pretty cool Harmony stuff.
    </p>
    <p>
      Sed felis odio, commodo nec venenatis congue, euismod in neque. Proin ut efficitur mauris. Phasellus dolor sem, consequat eleifend vestibulum sed, scelerisque vel tellus. Quisque id ex eget tellus ultricies ornare. Cras nec convallis neque. Integer imperdiet, nulla sit amet mollis condimentum, ipsum sem placerat massa, ac placerat nulla sapien sed sem. Maecenas risus dui, porttitor nec imperdiet iaculis, hendrerit sit amet urna. Aliquam elit orci, tempus vitae leo ac, consectetur vulputate arcu. Ut sollicitudin felis id ipsum gravida finibus. Curabitur eu luctus mauris, nec tempor orci. Vivamus egestas massa eget laoreet congue. Phasellus nec nisl quis justo tincidunt convallis et quis leo.
    </p>
    <img alt="Tank" src="" />
    <p>
      Etiam non felis velit. Curabitur in suscipit ipsum, non convallis enim. Maecenas malesuada dapibus magna, eget gravida purus molestie a. Nulla ut quam semper lorem feugiat ultricies quis et velit. Aliquam elit orci, tempus vitae leo ac, consectetur vulputate arcu. Vivamus feugiat ante urna, ac lobortis nisi cursus in.
    </p>
    <p>
      Pellentesque enim mauris, gravida eget placerat lacinia, iaculis id diam. Nunc semper libero eget nunc facilisis lobortis.
    </p>  
  </section>
</article>

<%- css('css/about') %>
