<section class="artists">
	<div class="container p-6 py-12 mt-5">
		<div class="header">
			<h1 class="font-bold text-center text-responsive">Artists</h1>
			<p class="mx-auto mt-4 text-xl text-center">Known worlds from Hermione Granger into the Multiverse</p>
		</div><hr />

<div class="art-container">
    <div class="row mt-40">



            <% site.categories.findOne({name: 'artists'}).posts.sort('id').each(function(post) { %> 

                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="box1">
                        <img src="<%= post.image %>" alt="<%= post.slug %>">
                        <h3 class="title"><a href="<%= post.path %>"><%= post.title %></a></h3>
                   </div>
                </div>
            <% })%>

        </div>
        <hr />

    </div>
</div>

</div>
</section>