<section class="credits" id="credits">

    <div class="container">
  
      
    <div class="row py-5 mt-5">
        <div class="col-xl-6">
          <h1 class="blog-title animate fadeInLeft delay-600 ">Credits </h1><hr />
          <img src="../images/backgrounds/end.jpg" alt="" />
        </div>
  
        <div class="col-xl-6">
          <h2><span class="blue">Features</h2> 
            <ul class="features">
              <li v-for="item in features">
                <h3>01</h3>
                <h4>On Landing</h4>
                <p>raydarkwolf - Whenever Harry had alone time with Hermione, he came out of it with marks on his cheeks, his neck, his collarbone, everywhere.
  
                  "I like claiming what's mine," she would whisper.
                  
                  Harry didn't exactly mind.
                  
                  An H/Hr Fanart for the HMS Harmony Discord's Secret Santa Exchange.</p>
              </li>
              <li v-for="item in features">
                <h3>02</h3>
                <h4>About</h4>
                <p>hastyhand - Harry and Hermione on the cover of a record label: TheWeekend Trilogy.</p>
              </li>
            </ul>
        </div>
      </div>
  
  
      
            <article>
              <h2><span class="yellow">On.</span>screen</h2>
              <ul class="onscreen">
                <li v-for="item in OnScreen">
                  <h4 class="yellow">{{ item.num }}</h4>
                  <ul v-if="item.movie.length > 0">
                    <li v-for="m in item.movie">
                      {{ m.title }}
                      <ratings :stars="m.rating"></ratings>
                    </li>
                  </ul>
                </li>
              </ul>
            </article>
          </div>
    
        <div class="side">
          <article>
            <h2><span class="red">Pre.</span>view</h2>
              <ul class="features">
                <li v-for="item in Features">
                  <h3>{{ item.num }}</h3>
                  <h4>{{ item.title }}</h4>
                  <p>{{ item.desc }}</p>
                </li>
              </ul>
          </article>
          <article>
            <h2><span class="blue">Re.</span>view</h2>
            <ul class="review">
                <li v-for="item in Review">
                  <h3>{{ item.num }}</h3>
                  <h4>{{ item.title }}</h4>
                  <p>{{ item.desc }}</p>
                </li>
              </ul>
          </article>
        </div>
    
    </div>
    
    <template id="ratings">
      <div class="ratings">
        <ul>
          <li v-for="star in stars">
            <i class="fa fa-star"></i>
          </li>
        </ul>
      </div>
    </template>
    </div>
  </section>

  <%- css('css/credits') %>
