<section class="characters">
	<div class="container p-6 py-12 mt-5">

        <div class="row py-5 ">


			<div class="col-xl-12">
					<h1 class="blog-title animate fadeInLeft delay-600 text-center ">Fanfiction Archives</h1><hr />
          <p>
            Every single Harmony fanfiction you'd ever want... all in one place...
                </p>

			</div>

			<div class="col-xl-12 p-5">
				<img src="../images/backgrounds/fanfiction.jpg" alt="" class="w-100 fixed">
			</div><hr />


		</div>



<div class="art-container">
    <div class="row mt-40">

                <div class="col-md-4 col-sm-6 mb-4">
                   <div class="box1">
                    <img src="../../images/fanfiction/portkey-archive.jpg" alt="portkey-archive" class="w-100">
                    <h3 class="title"><a href="https://portkey-archive.org/">Portkey Archive</a></h3>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="box1">
                        <img src="" alt="">
                        <h3 class="title"><a href="https://docs.google.com/spreadsheets/d/1J7X2gQo36eXIOv3ctt3GMTVWna0mf5cRpr1gA1ZsqiU/edit?gid=0#gid=0">Public List by Refyxz</a></h3>
                   </div>
                </div>

                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="box1">
                        <img src="" alt="">
                        <h3 class="title"><a href="https://docs.google.com/spreadsheets/d/1TqEapq8vTa3Ju_FHQDk6nV6hfJZkoQvd0H1NxPKLUqg/edit?gid=898536361#gid=898536361">Public List by Dr. Professor Robot </a></h3>
                   </div>
                </div>

</div>

<div class="row mt-40">


                <div class="col-md-4 col-sm-6 mb-4">
                  <div class="box1">
                      <img src="" alt="b-chazzie" class="w-100">
                      <h3 class="title"><a href="https://docs.google.com/spreadsheets/d/1acr9JM1N9t48PfCaDXX6Gc0hfO7gcLPFdDA3H8I-9Pk/edit?gid=2132692635#gid=2132692635">Public List by B Chazzie</a></h3>
                 </div>
              </div>

              <div class="col-md-4 col-sm-6 mb-4">
                <div class="box1">
                    <img src="../../images/fanfiction/hms-directory.jpg" alt="hms-directory" class="w-100">
                    <h3 class="title"><a href="/hms-directory">HMS Directory</a></h3>
               </div>
            </div>

              <div class="col-md-4 col-sm-6 mb-4">
                <div class="box1">
                    <img src="../../images/fanfiction/hms-directory.jpg" alt="hms-directory" class="w-100">
                    <h3 class="title"><a href="/hms-directory">HMS Directory</a></h3>
               </div>
            </div>


        </div>
        <hr />

    </div>
</div>

</div>
</section>

<%- css('css/fanfiction') %>
<%- js('js/parallax') %> 

