<section class="feedback">
  <div class="row">
    <div class="col-xl-6">
      <img src="../images/frontpage/contact.jpg" alt="contact" class="w-100">
    </div>

    <div class="col-xl-6 my-auto p-5">
      <div class="container">
        <h1>Comments, suggestions, feedback, or bugs..?</h1><hr />
        <p class="font-italic mb-4">
          Welcome to the Suggestion Box. Have you scoured the lands of HMS Harmony and not found the feature of the website that you want? Perhaps you, like us, are constantly finding bugs on the site and want them fixed? Please let us know what's on your mind below.
        </p>

        <form class="contact-form form-horizontal" action="https://getform.io/f/bf4f024e-7eae-4dee-be33-850499273eec" method="POST">
          <div class="form-group mb-4">
            <label for="contact-form-name">Name</label>
            <input class="form-control" id="contact-form-name" type="text" placeholder="Enter your name" name="Name">
          </div>
          <div class="form-group mb-4">
            <label for="contact-form-title">Title</label>
            <input class="form-control" id="contact-form-title" type="text" placeholder="Title" name="title">
          </div>
          <div class="form-group mb-4">
            <label for="contact-form-suggestion">Suggestion</label>
            <textarea class="form-control" id="contact-form-suggestion" type="text" placeholder="Enter your suggestion, then hit the submit" rows="6" name="Suggestion"></textarea>
          </div>
          <button class="btn btn-dark" type="submit">Submit</button>
          <button class="btn btn-danger" type="submit">Clear</button>

        </form>
        <button type="button" class="btn btn-outline-dark mt-4"><a href="/">Return Home</a></button>
      </div>
    </div>
  </div>

  
</section>