
  <section class="Hero">
      <div class="Hero__content">
        <h2 class="Hero__title">The Magical Journey Starts Now</h2>
        <p class="Hero__subtitle">Harmony is a ship that will never stop sailing... </p>
        <a href="#about"><button type="button" class="btn btn-light">Begin</button></a>
      </div>
      <div class="Hero__image" id="Hero__image"></div>
      <div class="Hero__mask"></div>
      <canvas id="snowfall" class="Hero__snowfall"></canvas>
  </section>
  
  
  
  <section class="about" id="about">
    <div class="container-fluid">

      <div class="row ">
        <div class="col-xl-1 ">
      </div>
      
      <div class="col-xl-5 p-5 mt-5">
        <img src="../images/backgrounds/about.jpg" alt="" class="fixed img-fluid border border-2 border-light">
      </div>
  
      <div class="col-xl-5 my-auto">
        <h1 class="blog-title animate fadeInLeft delay-600 text-left">ABOUT<BR /> THE<BR /> HARMONY<BR /> FANDOM</h1>
      </div>
  
      <div class="col-xl-1 ">
      </div>
    </div>

    </div>
  </section>
  
  <section class="about-text">
    <div class="container-fluid">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <h3>About The Harmony Fandom</h3><br />
        <p>Here at HMS Harmony, we go pretty hard when it comes to shipping the pairing of Harry and Hermione from the very popular Potter franchise, and that's only the beginning. As you will soon discover, our enthusiasm for the rightful pairing of the franchise doesn't end with a stubborn conversation about what's canon and not, it pours out of us through the mediums of fanfiction, fanart, and even fan podcasts.</p>
        <a href="/blog"><button type="button" class="btn btn-light">Learn More</button></a>
            </div>
      <div class="col-2"></div>
    </div>
    </div>
  </section>
  
  
  <section class="blog_hero" id="blog">
    <div class="blog_hero_content">
      <h2 class="blog_hero_title">The Blog</h2>
      <p class="blog_hero_subtitle">Keep up to date with what is happening in the Harmony community... </p>
      <a href="/blog"><button type="button" class="btn btn-light">View Posts</button></a>
    </div>
    <div class="blog_hero_image" id="blog_hero_image"></div>
    <div class="blog_hero_mask"></div>
  </section>
  
  
  
  
  <section class="social" id="social">
    <div class="container">
    
      <div class="row py-5 ">
    
        <div class="col-xl-1 py-5">
        </div>
    
        <div class="col-xl-5 py-5">
            <h3 class="blog-title animate fadeInLeft delay-600 text-center">SOCIAL<br /> MEDIA</h3><hr />
              
              <div class="row py-5">
                <div class="col-lg-3 "><a href="https://discord.gg/zeU6XHbtrJ" ><i class="fa-brands fa-2xl fa-discord text-white"></i></a></div>
                <div class="col-lg-3"><a href="https://x.com/hms_harmony" ><i class="fa-brands fa-2xl fa-x-twitter text-white"></i></a></div>
                <div class="col-lg-3"><a href="https://www.instagram.com/hms_harmony/" ><i class="fa-brands fa-2xl fa-instagram text-white"></i></a></div>
                <div class="col-lg-3"><a href="https://hms-harmony-discord.tumblr.com/" ><i class="fa-brands fa-2xl fa-tumblr text-white"></i></a></div>
              </div>
    
        </div>
    
        <div class="col-xl-6 p-5">
          <img src="../images/backgrounds/social.jpg" alt="" class="fixed img-fluid border border-2 border-light">
        </div>
    
      </div>
    </div>
    </section>
  
  
  
  
    <section class="fanfiction_hero" id="fanfiction">
      <div class="fanfiction_hero_content">
        <h2 class="fanfiction_hero_title">Harmony Fanfiction</h2>
        <p class="fanfiction_hero_subtitle">All the Harmony fanfiction, all together in one place, finally... </p>
        <a href="/fanfiction"><button type="button" class="btn btn-light">Start Reading</button></a>
      </div>
      <div class="fanfiction_hero_image" id="fanfiction_hero_image"></div>
      <div class="fanfiction_hero_mask"></div>
    </section>
  
  
  
    <section class="quotes" id="quotes">
    <div class="container-fluid">

      <div class="row ">
        <div class="col-xl-1 ">
        </div>
        
        <div class="col-xl-5 p-5 mt-5">
          <div class="wrapper">
            <div class="gallery">
              <ul>
                <li><img src="../images/quotes/ps.jpg"></li>
                <li><img src="../images/quotes/cos.jpg"></li>
                <li><img src="../images/quotes/poa.jpg"></li>
                <li><img src="../images/quotes/gof.jpg"></li>
                <li><img src="../images/quotes/ootp.jpg"></li>
                <li><img src="../images/quotes/hbp.jpg"></li>
                <li><img src="../images/quotes/dh.jpg"></li>
              </ul>
            </div>
          </div>
        </div>
    
        <div class="col-xl-5 my-auto">
          <h1 class="blog-title animate fadeInLeft delay-600 ">HARMONY<br /> QUOTES </h1><hr />
            <p>Here at HMS Harmony, we go pretty hard when it comes to shipping the pairing of Harry and Hermione from the very popular Potter franchise, and that's only the beginning. As you will soon discover, our enthusiasm for the rightful pairing of the franchise doesn't end with a stubborn conversation quotes what's canon and not, it pours out of us through the mediums of fanfiction, fanart, and even fan podcasts.</p><br />
              <a href="/quotes"><button type="button" class="btn btn-lg btn-light text-center">Read More</button></a>
        </div>
    
        <div class="col-xl-1 ">
        </div>
   
        </div>

      </div>
    </section>
  
  
  
  
  
    <section class="fanart_hero" id="fanart">
      <div class="fanart_hero_content">
        <h2 class="fanart_hero_title">Harmony Fanart</h2>
        <p class="fanart_hero_subtitle">All the Harmony fanart, all together in one place, finally... </p>
        <a href="/fanart"><button type="button" class="btn btn-light">Begin</button></a>
      </div>
      <div class="fanart_hero_image" id="fanart_hero_image"></div>
      <div class="fanart_hero_mask"></div>
    </section>
  
  
  
  
    <section class="podcast" id="podcast">
    <div class="container-fluid">

      <div class="row ">
        <div class="col-xl-1 ">
        </div>
    
        <div class="col-xl-5 my-auto">
          <h1 class="blog-title animate fadeInLeft delay-600 ">BOOKS<br /> AND<br /> BROOMS</h1><hr />
            <p>Books & Brooms is your monthly look into the world of the Harry Potter & Hermione Granger fandom. Our Harry Potter podcast, hosted by long time supproters of the Harmony fandom brings its listeners entertaining and thought-provoking dicussions about the relationship that should have been. With each new episode we discuss everything about the Harmony fandom, including interviews with other creators, fanfictions and much more!</p>
              <a href="/podcast"><button type="button" class="btn btn-lg btn-light text-center">Start Listening</button></a><br />
        </div>
  
        <div class="col-xl-5 p-5 mt-5">
          <img src="../images/backgrounds/booksandbrooms.jpg" alt="" class="fixed img-fluid">
        </div>
    
        <div class="col-xl-1 ">
        </div>
    
      </div>
    </div>
    </section>
  
    <section class="projects_hero" id="projects">
      <div class="projects_hero_content">
        <h2 class="projects_hero_title">Harmony projects</h2>
        <p class="projects_hero_subtitle">All the Harmony projects, all together in one place, finally... </p>
        <a href="/projects"><button type="button" class="btn btn-light">Begin</button></a>
      </div>
      <div class="projects_hero_image" id="projects_hero_image"></div>
      <div class="projects_hero_mask"></div>
    </section>
  
    

    <section class="credits" id="credits">
    <div class="container-fluid">
      
      <div class="row ">
        <div class="col-xl-1 ">
        </div>
        
        <div class="col-xl-5 p-5 mt-5">
          <img src="../images/backgrounds/end.jpg" alt="" class="fixed img-fluid">
        </div>
    
        <div class="col-xl-5 my-auto">
          <h1 class="blog-title animate fadeInLeft delay-600 ">CREDITS</h1><hr />
          <p>A comprehensive list of the people in the Harmony fandom accredited for the work found used on this website.</p>
          <a href="/credits"><button type="button" class="btn btn-lg btn-light text-center">View</button></a><br />
        </div>
    
        <div class="col-xl-1 ">
        </div>
    
      </div>
    </div>
    </section>

  
  <%- js('js/script') %> 
  <%- js('js/hero-fade') %> 
  <%- js('js/navigation') %> 

  