<section class="fanfiction">
	<section class="fanfiction-background">
	  <div class="content">
		<h1><a href="/act-one">act-one</a></h1>
	  </div>
	</section>
	<section class="fanfiction-background">
	  <div class="content">
		<h1><a href="/act-two">act-two</a></h1>
	  </div>
	</section>
	<section class="fanfiction-background">
	  <div class="content">
		<h1><a href="/act-three">act-three</a></h1>
	  </div>
	</section>
  </section>

<%- js('js/parallax') %> 
