<section class="quotes" id="quotes">
  <div class="row ">
    <div class="col-xl-1 ">
    </div>
    
    <div class="col-xl-5 p-5 mt-5">
      <img src="<%= page.image %>" alt="" class="w-100 mb-1 img rounded img-fluid">
    </div>

    <div class="col-xl-4 my-auto">
      <h1 class="blog-title animate fadeInLeft delay-600 "><%= page.title %></h1><hr />
        <p>Here at HMS Harmony, we go pretty hard when it comes to shipping the pairing of Harry and Hermione from the very popular Potter franchise, and that's only the beginning. As you will soon discover, our enthusiasm for the rightful pairing of the franchise doesn't end with a stubborn conversation quotes what's canon and not, it pours out of us through the mediums of fanfiction, fanart, and even fan podcasts.</p>
          <a href="/quotes"><button type="button" class="btn btn-lg btn-light text-center">Read More</button></a><br />
    </div>

    <div class="col-xl-2 ">
    </div>

  </div>
</section>




<%- css('css/quotes') %>
<%- js('js/quotes') %> 
