
<section class="quotes" id="quotes">
    <div class="row ">
      <div class="col-xl-1 ">
      </div>
      
      <div class="col-xl-5 p-5 mt-5">
        <div class="wrapper">
          <div class="gallery">
            <ul>
            <% site.categories.findOne({name: 'quotes'}).posts.sort('id').each(function(post) { %> 
              <li><a href="<%= post.path %>"><img src="<%= post.image %>"></a></li>
              <% })%>
            </ul>
          </div>
        </div>
      </div>
  
      <div class="col-xl-5 my-auto">
        <h1 class="blog-title animate fadeInLeft delay-600 ">Harmony Quotes </h1><hr />
          <p>Here at HMS Harmony, we go pretty hard when it comes to shipping the pairing of Harry and Hermione from the very popular Potter franchise, and that's only the beginning. As you will soon discover, our enthusiasm for the rightful pairing of the franchise doesn't end with a stubborn conversation quotes what's canon and not, it pours out of us through the mediums of fanfiction, fanart, and even fan podcasts.</p><br />
      </div>
  
      <div class="col-xl-1 ">
      </div>
  
    </div>
  </section>


  