
<footer class="footer mt-auto py-3 bg-body-dark text-center">
    <div class="container">
      <span class="text-body-light">HMS Harmony &copy; 2025</span>
    </div>
  </footer>

    <!-- <footer>

    </footer> -->

<!-- Bootstrap  -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>


<!-- Google Analytics  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

<!-- List Search  -->
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

<!-- Hero Effect -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js'></script><script src="../../source/js/script.js"></script>


</body>
</html>

