<header class="Header__container">
    <div class="Header__left">
      <div class="Header__title">
        <h2><a href="/">Harry and Harmony</a></h2>
      </div>
    </div>



<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <div class="overlay-content">

  <div class="row">
    <div class="col-xl-6 my-auto">
      <a id="home" href="/">HOME</a>
      <a id="about" href="/about">ABOUT</a>
      <a id="blog" href="/blog">BLOG</a>
      <a id="social" href="/social">SOCIAL</a>
      <a id="fanfiction" href="/fanfiction">FANFICTION</a>
      <a id="quotes" href="/quotes">QUOTES</a>
      <a id="fanart" href="/fanart">FANART</a>
      <a id="podcast" href="/podcast">PODCAST</a>
      <a id="projects" href="/projects">PROJECTS</a>
      <a id="credits" href="/credits">CREDITS</a>
      <a id="search" href="/search">SEARCH</a>
    </div>
    <div class="col-xl-6">
      <div id="image"></div>
    </div>
  </div>

  </div>


</div>

<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>

</header>
